{% extends "semana3/_base.html" %}

{% block title %}Apoderados{% endblock %}

{% block content %}
<h2><i class="bi bi-people-fill"></i> Apoderados</h2>

<p><a class="btn btn-primary" href="{% url 'semana3:apoderado_crear' %}">+ Nuevo apoderado</a></p>

<div class="table-wrap">
<table class="citas">
    <thead>
        <tr><th>ID</th><th>Documento</th><th>Nombres</th><th>Apellidos</th><th>Teléfono</th><th>Correo</th><th>Acciones</th></tr>
    </thead>
    <tbody>
        {% for apoderado in apoderados %}
        <tr>
            <td>{{ apoderado.id }}</td>
            <td>{{ apoderado.num_documento }}</td>
            <td>{{ apoderado.nombres }}</td>
            <td>{{ apoderado.apellidos }}</td>
            <td>{{ apoderado.telefono|default:"—" }}</td>
            <td>{{ apoderado.correo|default:"—" }}</td>
            {# Se identificó que la celda "Editar/Eliminar#}
            {% include "semana3/partials/_acciones.html" with prefijo="apoderado" obj_id=apoderado.id %}
        </tr>
        {% empty %}
        <tr><td colspan="7" class="empty-state">Sin registros.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
